

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&display=swap');

@font-face{
    font-family:'Android';
    font-weight: normal;
    src: url('../fontes/idroid.otf')

}
/* PSEUDOCLASSE ROOT
Todo documento tem, é a raiz da arvore do documento, onde podemos declarar nossas "variáveis globais", e tudo que for definido aqui encima, vai servir para o documento inteiro, portanto, basicamente, eu posso criar variáveis aqui dentro.
A regra para se criar uma váriavel em CSS é começar com dois traços (--), e após isso, você coloca o nome que quiser em sua variável, logicamente, coloque um nome correspondente com a função que a variável vai exercer em seu documento.
*/
:root{
    --cor0:#ebe5c5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    
    /* Aqui declaramos as fontes como variáveis,  */
    --fonte-padrao: arial, helvetica, verdana, sans-serif;
    --fonte-destaque:'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;

}

*{
    margin:0px;
    padding: 0px;
}


body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
}

a.externo::after{
    content:'\1F517';
}

header{
    /* Aqui no background image, fizemos um degradê de cores, usando o linear-gradient*/
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
    
header > h1{
    color: white;
    font-size: 3em;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 5px black;
   
}

header > p{
     color: white;
     font-family: var(--fonte-padrao);
     font-size: 1.2em;
     max-width: 500px; /* garante que a largura máxima do parágrafo será a declarada */
     /* Obs: ao declarar o valor do max-width, o parágrafo virou um bloco automáticamente, por isso  */
     margin: auto;/*centraliza o conteúdo do parágrafo dentro do espaço do header*/
     padding-right: 10px;
     padding-left: 10px;
    text-shadow: 3px 3px 5px black;
     
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px black;
}

nav > a{
    color:var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
     
}

nav > a:hover{
background-color: var(--cor2);
color: var(--cor5);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}

main  h1{
    color: var(--cor5);
    font-family:var(--fonte-android);
}
main  h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent); 
    /*usamos para fazer um efeito degradê muito bonito em todos os h2 do texto, dando uma diferença brutal no visual */
    text-indent: 8px;
}

main p{
   margin: 15px 0px; 
   text-align: justify;/*Desta forma ele alinha o texto direita/esquerda de uma maneira mais bonita */
   text-indent: 30px; /*Aplica um recuo na primeira linha de cada parágrafo*/
   font-size: 1.1em;/*aumenta levemente o tamanho da fonte, lembrando que 1em geralmente corresponde a 16px, que NORMALMENTE seria o tamanho padrão de uma fonte*/
   line-height:1.5em;/*Adicionado para aumentar levemente o espaço entre uma linha e outra, e evitando que ao terminar de ler uma linha, você tente ler a linha de baixo e acabe lendo a mesma linha pelo fato das linhas estarem coladas de mais*/
      
}

main strong{
    color:var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;/* tira o sublinhado nativo do link */
    font-weight: bold;
    background-color:var(--cor1);
    padding: 2px 6px; 
    
}

main a:hover{
    text-decoration:underline; /*adiciona um sublinhado apenas ao passar o mouse encima do link (para ficar com cara de link*/
}

main img {
    width:100%;
}

main img.pequena {
    max-width:350px;
    margin: auto;
    display: block; 
    /*Aqui teve que ser inserido um display block para podermos centralizar a imagem com o comando margin auto, pois por padrão uma imagem não é um bloco, tirando assim a ação da declaração margin auto */
}

div.video{
    background-color: var(--cor5);/* serve para enxergar-mos o tamanho que a div de video está ocupando na tela do site, será excluida no final*/
    margin: 0px -20px 30px -20px;
    padding: 20px;/* para criar um espaçamento interno igual nos 4 lados do vídeo (top, right, bottom, left */
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
background-color:var(--cor1);  
padding: 10px;
border-radius: 10px;  
box-shadow: 3px 3px 8px black;
}

aside > h3{
     background-image: linear-gradient(to left, var(--cor2), var(--cor5));
    color: white;
    padding: 10px; /* ao colocar-mos o padding, ele cresce o texto e o fundo "para dentro"  */
    margin: -10px -10px 0px -10px;/* usamos a margin negativa para crescer 10px para fora, podendo assim encaixar a linha do h3 com a borda da caixa do aside principal (ordem dos números : encima, direita, abaixo, esquerda*/
    border-radius: 10px 10px 0px 0px; /*usamos o border radius positivo para os arredondamentos das bordas ficarem iguais aos do espaço principal da tag, ou seja, ele sobrepõe a caixa de baixo, porem fica muito bem encaixado (ordem dos números: encima esquerda, encima direita, embaixo direita, embaixo esquerda */
  
}

aside > ul {/* aside > ul é para configurar as listas que estão dentro da tag aside */
    
    list-style-type:'\2714\00A0\00A0';/* usamos o \2714 para adicionar o código do emoji "check" no site do emojipedia, e adicionamos outra contrabarra com o código \00A0, que é o NBSP do emoji (espaço sem quebra), dando assim um espaço entre o check e o item descrito na lista. 
    DETALHE IMPORTANTISSIMO: esse list-style-type NÃO É COMPATIVEL COM TODOS OS NAVEGADORES*/
    list-style-position: inside;/*list-style-position:inside, é para colocar as bolinhas da lista para dentro da caixa do aside.  */
    columns: 2;/* se você achar que a lista ficou muito comprida no texto, basta dividi-la em colunas, para isso usamos o colums */
  
}


footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    letter-spacing: 1.2px;
}

footer > p > a{
    color: white;
    font-weight:bolder;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
    color:var(--cor1);
    
}


 /* Nesta aula ja começamos corrigindo fazendo um acerto na imagem do bugdroid, que ficava pequeno de mais ao simular-mos uma tela de celular, e na tela normal do computador ele começava a embaçar a imagem, então corrigimos o Css. Na aula passada, deixamos o main img.pequena com width:50% da tela inteira, porém ao substituir-mos por um max width de 350px, dessa forma a imagem continuou de um tamanho legal e parou de ficar aumentando e diminuindo desproporcionalmente, causando um efeito visual muito melhor ao usuário */

 /*Eu inseri por conta própria no body, uma declaração overflow:hidden, dessa forma, ele some com a barra de rolagem horizontal, porem não impede o conteúdo de se adaptar horizontalmente, ou seja, basicamente ele só some com a barra mesmo*/

  /* Nesta aula nós vamos trabalhar o conteúdo periférico <aside>, que é um elemento semântico para conteúdo periférico, ou seja, informações tangencialmente relacionadas ao conteúdo principal, como barras laterais, anúncios, citações ou links complementares, que podem ser visualmente separadas, mas que enriquecem a página sem interromper o fluxo principal.
  EX: dentro deste documento, toda a página fala sobre o surgimento dos simbolos android até chegarmos no bugdroid, porém, dentro da tag aside, eu estou falando somente sobre CURIOSIDADES dos nomes das versões que os androids tiveram no decorrer do tempo. É um assunto relacionado ao tema, porém é considerado periférico por não ensinar sobre o tema em si, mas sim sobre CURIOSIDADES.*/